{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_delegateaccount/delegation/toolbar

    Navigation, bulk action, creation, and filter controls for delegated accounts.

    @author     Hector Arrechea <hectorlazaroarrechea@gmail.com>
    @copyright  2026 Didactika.org
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "backurl": "https://moodle.example/local/delegateaccount/manage.php",
        "backlabel": "Back",
        "canupdate": true,
        "realuserid": 7,
        "editselectedlabel": "Edit selected",
        "canrevoke": true,
        "revokeselectedlabel": "Revoke selected",
        "cancreate": true,
        "assignurl": "https://moodle.example/local/delegateaccount/assign.php?realuserid=7",
        "addlabel": "Add delegated account",
        "filterid": "local-delegateaccount-delegations-filters",
        "filterlabel": "Filters",
        "filterform": "<form><input type=\"text\" aria-label=\"Search\"></form>",
        "hasfilters": false,
        "showfilters": false,
        "reseturl": "https://moodle.example/local/delegateaccount/delegations.php?realuserid=7",
        "resetlabel": "Reset",
        "posturl": "https://moodle.example/local/delegateaccount/delegations.php?realuserid=7",
        "sesskey": "example",
        "confirmtitle": "Confirm revocation",
        "confirmsingle": "Revoke this delegation?",
        "confirmbulk": "Revoke the selected delegations?",
        "confirmbutton": "Revoke"
    }
}}
<div class="reportbuilder-wrapper">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <a class="btn btn-secondary" href="{{backurl}}">
            {{#pix}}t/left, core{{/pix}}
            {{backlabel}}
        </a>
        <div class="d-flex flex-wrap justify-content-end align-items-center">
            {{#canupdate}}
                <button type="button" class="btn btn-secondary mr-2"
                    data-action="local-delegateaccount-edit-selected"
                    data-real-user-id="{{realuserid}}" disabled>
                    {{#pix}}t/edit, core, {{editselectedlabel}}{{/pix}}
                    {{editselectedlabel}}
                </button>
            {{/canupdate}}
            {{#canrevoke}}
                <button type="button" class="btn btn-danger mr-2"
                    data-action="local-delegateaccount-revoke-selected" disabled>
                    {{#pix}}t/delete, core, {{revokeselectedlabel}}{{/pix}}
                    {{revokeselectedlabel}}
                </button>
            {{/canrevoke}}
            {{#cancreate}}
                <a class="btn btn-primary mr-2" href="{{assignurl}}"
                    data-action="local-delegateaccount-open-assign"
                    data-real-user-id="{{realuserid}}">{{addlabel}}</a>
            {{/cancreate}}
            {{> local_delegateaccount/shared/filter_dropdown}}
        </div>
    </div>
</div>
<div data-region="local-delegateaccount-revoke-config"
    data-post-url="{{posturl}}"
    data-sesskey="{{sesskey}}"
    data-confirm-title="{{confirmtitle}}"
    data-confirm-single="{{confirmsingle}}"
    data-confirm-bulk="{{confirmbulk}}"
    data-confirm-button="{{confirmbutton}}"></div>
