{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_delegateaccount/shared/filter_dropdown

    Moodle report-style dropdown containing a GET filter form.

    @author     Hector Arrechea <hectorlazaroarrechea@gmail.com>
    @copyright  2026 Didactika.org
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "filterid": "local-delegateaccount-example-filters",
        "filterlabel": "Filters",
        "filterform": "<form><label for=\"example-search\">Search</label><input id=\"example-search\" type=\"text\"></form>",
        "hasfilters": true,
        "showfilters": false,
        "reseturl": "https://moodle.example/local/delegateaccount/manage.php",
        "resetlabel": "Reset"
    }
}}
<div class="dropdown local-delegateaccount-filters" data-region="local-delegateaccount-filters">
    <button class="btn btn-secondary" type="button" id="{{filterid}}"
        data-action="local-delegateaccount-toggle-filters" aria-haspopup="true"
        aria-expanded="{{#showfilters}}true{{/showfilters}}{{^showfilters}}false{{/showfilters}}">
        {{#pix}}i/filter, core, {{filterlabel}}{{/pix}}
        {{filterlabel}}
    </button>
    <div class="filters-dropdown dropdown-menu dropdown-menu-right dropdown-menu-end moodle-has-zindex
            local-delegateaccount-filter-menu{{#showfilters}} show{{/showfilters}}"
        data-region="local-delegateaccount-filter-menu" aria-labelledby="{{filterid}}">
        <div class="local-delegateaccount-filter-content p-3">
            {{{filterform}}}
            {{#hasfilters}}
                <div class="pt-2"><a href="{{reseturl}}">{{resetlabel}}</a></div>
            {{/hasfilters}}
        </div>
    </div>
</div>
